<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- 分布式任务管理器 -->
	<bean id="schedulerTaskManager" class="cn.uncode.schedule.SchedulerTaskManager" init-method="init">
		<property name="config">
			<map>
				<entry key="uncode.schedule.zkConnect" value="127.0.0.1:2181" />
				<entry key="uncode.schedule.rootPath" value="/uncode/schedule" />
				<entry key="uncode.schedule.zkSessionTimeout" value="60000" />
				<entry key="uncode.schedule.zkUsername" value="admin" />
				<entry key="uncode.schedule.zkPassword" value="admin" />
				<entry key="uncode.schedule.poolSize" value="10" />
				<entry key="uncode.schedule.ipBlacklist" value="127.0.0.2,127.0.0.3" />
			</map>
		</property>
	</bean>

    <bean id="task" class="cn.uncode.schedule.test.task.TestTask" />

    <task:scheduled-tasks scheduler="schedulerTaskManager">
        <task:scheduled ref="task" method="task1" fixed-delay="5000"/>
    </task:scheduled-tasks>
</beans>