<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taroco Scheduler Dashbord</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/taroco/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/taroco/plugins/bootstrap-table/bootstrap-table.min.css}" />
    <script type="text/javascript" th:src="@{/taroco/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/taroco/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/taroco/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/taroco/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
</head>

<body>
    <div class="container-fluid">
        <h1>Taroco Scheduler Dashbord</h1>
        <p>集群节点</p>
        <table id="server">
            <thead>
                <tr>
                    <th data-field="index">序号</th>
                    <th data-field="name">名称</th>
                    <th data-field="isLeader">调度节点</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item, status:${serverList}">
                    <td th:text="${status.index}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.isLeader}"></td>
                </tr>
            </tbody>
        </table>
        <p></p>
        <p>集群任务</p>
        <table id="task">
            <thead>
            <tr>
                <th data-field="index">序号</th>
                <th data-field="targetBean">目标Bean</th>
                <th data-field="targetMethod">目标方法</th>
                <th data-field="cronExpression">cron表达式</th>
                <th data-field="startTime">开始时间</th>
                <th data-field="period">周期（毫秒）</th>
                <th data-field="params">参数</th>
                <th data-field="type">任务类型</th>
                <th data-field="runTimes">执行次数</th>
                <th data-field="lastRunningTime">最后执行时间</th>
                <th data-field="status">状态</th>
                <th data-field="_operate">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, status:${taskList}">
                <td th:text="${status.index}"></td>
                <td th:text="${item.targetBean}"></td>
                <td th:text="${item.targetMethod}"></td>
                <td th:text="${item.cronExpression}"></td>
                <td th:text="${item.startTime}"></td>
                <td th:text="${item.period}"></td>
                <td th:text="${item.params}"></td>
                <td th:text="${item.type}"></td>
                <td th:text="${item.runTimes}"></td>
                <td th:text="${item.lastRunningTime}"></td>
                <td th:text="${item.status}"></td>
                <td>
                    <button th:if="${item.status == 'running'}" type="button" class="btn btn-info btn-sm">暂停</button>
                    <button th:if="${item.status == 'stop'}" type="button" class="btn btn-primary btn-sm">启动</button>
                    <button type="button" class="btn btn-danger btn-sm">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        $(function () {
            $('#server').bootstrapTable();
            $('#task').bootstrapTable();
        })
    </script>
</body>

</html>
